<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <div class="logo-image">
      <img src="/images/tinyu.png" alt="" width="35" height="35">
    </div>
    <a class="navbar-brand" href="/urls">TinyU</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div class="container float-right">
    </div>

    <form action="/logout" method="POST">
        <h2 class="navbar-brand">Welcome, <%= username %> ! </h2>
        <button type="submit" class="btn btn-outline-dark btn-sm">Logout</button>
    </form>

  </nav>
</header>